.section {
  margin-top: 80px;
  margin-bottom: 160px;
  width: 100%;
}

@media(min-width: 640px) {
  .section {
    margin-bottom: 260px;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-bottom: 260px;
  }
}
