.section {
  width: 100%;
  margin-bottom: 320px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  align-self: flex-start;
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
}

.container {
  width: 1475px;
  margin-top: 80px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.subtitle {
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
}

.imageContainer {
  width: 100%;
  height: 970px;
  margin-top: 32px;
  margin-bottom: 14px;

  position: relative;
  overflow: hidden;

  background: #1B1B1B url('./images/noise.svg');
  background-size: cover;
  border: 1px solid #FFFFFF;
}

.image {
  position: absolute;
  top: 0;
  right: -118px;

  z-index: 2;
}

.icons {
  position: absolute;
  top: 200px;
  left: 130px;
}

.text {
  margin: 0;
  width: 1017px;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.purpleLight {
  position: absolute;
  top: 380px;
  right: -567px;

  width: 1376px;
  height: 636px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(146, 96, 251, 0.4) 0%, rgba(146, 96, 251, 0) 100%);
  filter: blur(30px);
  transform: matrix(-0.85, -0.51, -0.53, 0.86, 0, 0);
  //transform-origin: right bottom;

  z-index: 1;
}

.blueLight {
  position: absolute;
  bottom: 250px;
  right: -283px;

  width: 3205px;
  height: 1336px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(120, 182, 255, 0.6) 0%, rgba(120, 182, 255, 0) 100%);
  filter: blur(30px);
  transform: matrix(-0.75, -0.65, -0.67, 0.75, 0, 0);
}

@media (max-width: 1700px) {
  .section {
    margin-bottom: 240px;
  }

  .title {
    font-size: 60px;
    line-height: 69px;
  }

  .container {
    width: 1020px;
    margin-top: 60px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .imageContainer {
    height: 655px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .image {
    width: 969px;
    height: 722px;

    right: -136px;
  }

  .icons {
    top: 100px;
    left: 65px;

    width: 130px;
    height: 441px;
  }

  .text {
    width: 696px;

    font-size: 20px;
    line-height: 27px;
  }

  .purpleLight {
    top: 314px;
    right: -770px;

    width: 1376.03px;
    height: 636.54px;
  }

  .blueLight {
    bottom: 92px;
    right: -478px;

    width: 3205.84px;
    height: 1336px;
  }
}

@media (max-width: 1200px) {
  .section {
    margin-bottom: 120px;
  }

  .title {
    font-size: 40px;
    line-height: 46px;
  }

  .container {
    width: 100%;
    margin-top: 40px;
  }

  .subtitle {
    margin-left: 117px;
    font-size: 16px;
    line-height: 18px;
  }

  .imageContainer {
    height: 441px;
  }

  .image {
    width: 651px;
    height: 485px;

    right: -102px;
  }

  .icons {
    top: 100px;
    left: 43px;

    width: 71px;
    height: 241px;
  }

  .text {
    width: 571px;
    align-self: flex-end;

    font-size: 12px;
    line-height: 16px;
  }

  .purpleLight {
    top: 314px;
    right: -770px;

    width: 1376.03px;
    height: 636.54px;
  }

  .blueLight {
    bottom: -36px;
    right: -772px;

    width: 3205.84px;
    height: 1336px;
  }
}

@media (max-width: 720px) {
  .section {
    margin-bottom: 80px;
  }

  .title {
    font-size: 32px;
    line-height: 37px;
  }

  .container {
    margin-top: 20px;
  }

  .subtitle {
    margin-left: 0;
  }

  .image {
    width: 639px;
    height: 477px;

    right: -444px;
    top: -28px;
  }

  .icons {
    top: 140px;
    left: 25px;

    width: 48px;
    height: 162px;
  }

  .text {
    width: 100%;
    align-self: flex-start;
  }

  .purpleLight {
    top: 314px;
    right: -770px;

    width: 1376.03px;
    height: 636.54px;
  }

  .blueLight {
    bottom: -36px;
    right: -1013px;

    width: 3205.84px;
    height: 1336px;
  }
}
