.section {
  width: 100%;
  //padding-top: 412px;
  //padding-bottom: 102px;
  //margin-top: 60px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  color: var(--color-white);

  & > h2 {
    font-size: 20px;
    line-height: 100%;
    width: 80%;
  }
}

.blur {
  position: absolute;
  top: -279px;
  left: 10px;

  width: 632px;
  height: 408px;
}

@media (min-width: 400px) {
  .section {
    //padding-top: 380px;
    padding-bottom: 122px;
    //margin-top: 104px;

    & > h2 {
      font-size: 28px;
    }
  }


  .lights {
    top: 725px;
  }
}

@media (min-width: 640px) {
  .section {
    //padding-top: 330px;
    padding-bottom: 120px;
    //margin-top: 86px;

    & > h2 {
      //font-size: 40px;
    }
  }

  .lights {
    right: 186px;
    top: 880px;
  }

  .background {
    border-radius: 20px;
  }
}

@media (min-width: 720px) {
  .section {
    //padding-top: 330px;
    padding-bottom: 120px;
    //margin-top: 152px;

    & > h2 {
      font-size: 40px;
    }
  }

  .blur {
    top: -192px;
    left: 221px;
  }
}

@media (min-width: 1200px) {
  .section {
    //padding-top: 517px;
    padding-bottom: 205px;
    //margin-top: 167px;
  }

  .lights {
    background: url('./img/lights1200.png') no-repeat;
    width: 1555px;
    height: 1470px;
    right: 146px;
    top: 961px;
  }

  .background {
    border-radius: 40px;
  }
}

@media (min-width: 1700px) {
  .section {
    //padding-top: 360px;
    padding-bottom: 320px;
    //margin-top: 620px;

    & > h2 {
      font-size: 80px;
    }
  }

  .blur {
    width: 1831px;
    height: 1183px;
    top: -678px;
    left: 390px;
  }

  .lights {
    background: url('./img/lights1200.png') no-repeat;
    width: 1555px;
    height: 1470px;
    right: 494px;
    top: 2105px;
  }
}
