.section {
  width: 100%;
  padding-top: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0A0A0A;
}

.container {
  width: 1540px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;

  color: #FFFFFF;
}

.titleContainer {
  margin-top: 72px;

  width: 890px;
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 1;
}

.textContainer {
  align-self: flex-end;
  width: 760px;
  margin-top: 24px;
  margin-right: 132px;

  position: relative;
  z-index: 1;
}

.text {
  margin: 0;

  font-weight: 300;
  font-size: 60px;
  line-height: 100.38%;

  text-transform: uppercase;
}

.line {
  position: absolute;
  right: -188px;
  top: 1px;
}

.ellipse {
  position: absolute;
  top: 0;
  left: 534px;
}

@media (max-width: 1700px) {
  .section {
    padding-top: 180px;
  }

  .container {
    width: 1150px;
  }

  .titleContainer {
    margin-top: 62px;

    width: 630px;
  }

  .title {
    width: 630px;
    height: 162px;
  }

  .textContainer {
    width: 500px;
    margin-top: 32px;
    margin-right: 272px;
  }

  .text {
    font-size: 40px;
    line-height: 100.38%;
  }

  .line {
    width: 714px;
    height: 292px;

    right: -192px;
    top: 1px;
  }

  .ellipse {
    width: 332px;

    top: 40px;
    left: 425px;
  }
}

@media (max-width: 1200px) {
  .section {
    padding-top: 160px;
  }

  .container {
    width: 570px;
  }

  .titleContainer {
    margin-top: 42px;

    width: 292px;
  }

  .title {
    width: 294px;
    height: 76px;
  }

  .textContainer {
    width: 250px;
    margin-top: 16px;
    margin-right: 148px;
  }

  .text {
    font-size: 20px;
    line-height: 100.38%;
  }

  .line {
    width: 380px;
    height: 156px;

    right: -100px;
    top: 1px;
  }

  .ellipse {
    width: 160px;
    top: 23px;
    left: 172px;
    opacity: 0.6;
  }
}

@media (max-width: 720px) {
  .section {
    padding-top: 120px;
  }

  .container {
    width: 280px;
  }

  .titleContainer {
    margin-top: 16px;

    width: 177px;
  }

  .title {
    width: 177px;
    height: 51px;

    & > path {
      stroke-width: 0.5px;
    }
  }

  .textContainer {
    width: 152px;
    margin-top: 8px;
    margin-right: 58px;
  }

  .text {
    font-size: 12px;
  }

  .line {
    width: 195px;
    height: 80px;

    right: -100px;
    top: 1px;
  }

  .ellipse {
    width: 147px;
    top: -5px;
    left: 86px;
  }
}
