.textContainer {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background: url('./images/noise.svg') center top;
  background-size: cover;

  overflow: hidden;
}

.border {
  width: 173px;

  position: absolute;
  left: 0;
  bottom: 0;

  z-index: 4;
}

.borderTop {
  composes: border;

  width: 214px;
  top: 0;
  right: 0;
  left: auto;
  transform: rotate(-180deg);

  z-index: 6;
}

.text {
  position: absolute;

  color: #FFFFFF;
}

.textBottom {
  composes: text;
  margin: 0;
  left: 117px;
  bottom: -40px;

  font-size: 180px;
  line-height: 207px;

  z-index: 2;
}

.textTop {
  position: absolute;
  top: -47px;
  left: 18px;

  margin: 0;
  width: 1650px;
  height: 204px;

  & > path {
  }
  //width: 100%;
  //color: rgba(255, 255, 255, 0.4);
}

.textSvg {
  position: absolute;
  left: 6px;
  top: 90px;

  width: 1676px;
  height: 196px;

  z-index: 4;
}

.textSvgBot {
  position: absolute;
  top: 214px;
  left: 6px;

  width: 1676px;
  height: 196px;

  z-index: 4;
}

@media (max-width: 1700px) {
  .textContainer {
    height: 560px;
  }

  .border {
    width: 120px;
  }

  .borderTop {
    width: 148px;
  }

  .text {
    position: absolute;

    color: #FFFFFF;
  }

  .textBottom {
    left: 90px;
    bottom: -22px;
    font-size: 87px;
    line-height: 110px;

    z-index: 2;
  }

  .textTop {
    top: -35px;
    left: 10px;

    width: 1126px;
    height: 94px;
  }

  .textSvg {
    left: 2px;
    top: 8px;
    width: 1141px;
  }

  .textSvgBot {
    top: 94px;
    left: 2px;
    width: 1141px;
  }
}

@media (max-width: 1200px) {
  .textContainer {
    height: 336px;
  }

  .border {
    width: 72px;
  }

  .borderTop {
    width: 88px;
  }

  .text {
  }

  .textBottom {
    left: 50px;
    bottom: -10px;
    font-size: 66px;
    line-height: 100%;
  }

  .textTop {
    top: -22px;
    left: 10px;

    width: 672px;
    height: 55px;
  }

  .textSvg {
    left: 5px;
    top: -35px;

    width: 685px;
    height: 197px;
  }

  .textSvgBot {
    top: 20px;
    left: 5px;

    width: 685px;
    height: 197px;
  }
}

@media (max-width: 720px) {
  .textContainer {
    height: 440px;
  }

  .border {
    width: 59px;
  }

  .borderTop {
    width: 61px;
  }

  .text {
  }

  .textBottom {
    left: 54px;
    bottom: -3px;
    font-size: 42px;
  }

  .textTop {
    top: 8px;
    left: -4px;

    width: 276px;
    height: 22px;
  }

  .textSvg {
    left: -4px;
    top: -58px;
    width: 276px;
    height: 201px;
  }

  .textSvgBot {
    top: -36px;
    left: -4px;
    width: 276px;
    height: 201px;
  }
}
