.section {
  width: 100%;
  height: 800px;
  margin-top: 240px;
  margin-bottom: 320px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  & > div {
    width: 100%;
    height: 800px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
}

.card {
  width: 100%;
  height: 800px;
  padding-top: 32px;
  padding-left: 68px;
  padding-right: 44px;
  padding-bottom: 60px;

  box-sizing: border-box;
  cursor: grab;
  background: #4916DD;
  border: 1px solid #FFFFFF;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-shrink: 0;
}

.cardTitle {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.title {
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.titleSpan {
  composes: title;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.num {
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.firstSlide {
  width: 1276px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  & > div {
    width: 368px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.subtitle {
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.firstText {
  margin: 0;
  margin-top: 20px;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.secondSlide {
  height: 146px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.thirdSlide {
  width: 1132px;
  height: 465px;

  display: grid;
  grid-template-columns: 209px 174px 194px 157px;
  grid-template-rows: 202px 203px;
  grid-row-gap: 60px;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    & > h5 {
      margin-top: 12px;
      margin-bottom: 4px;

      font-family: 'Manrope', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
    }

    & > p {
      margin: 0;

      font-family: 'Manrope', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media (max-width: 1736px) {
  .section {
    height: 600px;
    margin-top: 200px;
    margin-bottom: 240px;

    & > div {
      height: 600px;
    }
  }

  .card {
    width: 100%;
    height: 600px;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 45px;
    padding-bottom: 45px;
  }

  .cardTitle {
  }

  .title {
    font-size: 40px;
    line-height: 46px;
  }

  .titleSpan {
    font-size: 24px;
    line-height: 28px;
  }

  .num {
    font-size: 32px;
    line-height: 37px;
  }

  .firstSlide {
    width: 845px;

    & > div {
      width: 260px;
    }
  }

  .subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .firstText {
    font-family: 'Manrope', sans-serif;
    margin-top: 12px;

    font-size: 16px;
    line-height: 22px;
  }

  .secondSlide {
    height: 106px;
  }

  .thirdSlide {
    width: 937px;
    height: 414px;

    grid-template-columns: 209px 174px 194px 157px;
    grid-template-rows: 177px 177px;
    grid-row-gap: 60px;

    & > div {

      & > svg {
        width: 85px;
        height: 85px;
      }

      & > h5 {
        margin-top: 8px;
        margin-bottom: 8px;

        font-size: 20px;
        line-height: 27px;
      }

      & > p {
        margin: 0;

        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: 1185px) {
  .section {
    height: 358px;
    margin-top: 120px;
    margin-bottom: 160px;

    & > div {
      height: 358px;
    }
  }

  .card {
    width: 100%;
    height: 358px;
    padding-top: 20px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 24px;
  }

  .cardTitle {
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .titleSpan {
    font-size: 16px;
    line-height: 18px;
  }

  .num {
    font-size: 16px;
    line-height: 18px;
  }

  .firstSlide {
    width: 485px;

    & > div {
      width: 133px;
    }
  }

  .subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .firstText {
    font-family: 'Manrope', sans-serif;
    margin-top: 4px;

    font-size: 12px;
    line-height: 16px;
  }

  .secondSlide {
    height: 68px;
  }

  .thirdSlide {
    width: 603px;
    height: 264px;

    grid-template-columns: 128px 129px 94px 105px;
    grid-template-rows: 122px 122px;
    grid-row-gap: 20px;

    & > div {

      & > svg {
        width: 58px;
        height: 58px;
      }

      & > h5 {
        margin-top: 12px;
        margin-bottom: 4px;

        font-size: 12px;
        line-height: 16px;
      }

      & > p {
        font-family: 'Manrope', sans-serif;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: 714px) {
  .section {
    height: 500px;
    margin-top: 60px;
    margin-bottom: 120px;

    & > div {
      height: 500px;
    }
  }

  .card {
    width: 100%;
    height: 500px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    background: #855BFF;
  }

  .cardTitle {
  }

  .title {
    font-size: 20px;
    line-height: 23px;
  }

  .titleSpan {
    font-size: 12px;
    line-height: 14px;
  }

  .firstSlide {
    width: 231px;

    flex-direction: column;

    & > div {
      width: 100%;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .firstText {
    font-family: 'Manrope', sans-serif;
    margin-top: 4px;

    font-size: 12px;
    line-height: 16px;
  }

  .secondSlide {
    height: 134px;
  }

  .thirdSlide {
    width: 229px;
    height: 368px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 83px 83px 83px 83px;
    grid-row-gap: 12px;
    grid-column-gap: 16px;

    & > div {

      & > svg {
        width: 35px;
        height: 35px;
      }

      & > h5 {
        margin-top: 4px;
        margin-bottom: 2px;

        font-size: 10px;
        line-height: 14px;
      }

      & > p {
        font-family: 'Manrope', sans-serif;
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
}

.icon{}
