.section {
  width: 100%;
  margin-top: 160px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 600;
  max-width: 190px;
  line-height: 120%;

  text-transform: uppercase;
}

.titleSpan {
  background: var(--gradient, linear-gradient(106deg, #44FC8E 0%, #4916DD 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  max-width: 240px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 120%;
}

.line {
  margin-top: 12px;
  width: 100%;
  height: 1px;

  background-color: var(--color-light-gray);
}

.number {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.list {
  width: 100%;
  margin-top: 40px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.item {
  margin-bottom: 12px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media(min-width: 400px) {
  .section {
    margin-top: 160px;
  }

  .title {
    font-size: 24px;
    max-width: 253px;
  }

  .subtitle {
    max-width: 325px;

    font-size: 16px;
  }

  .line {
    margin-top: 16px;
  }

  .number {
    font-size: 12px;
  }

  .list {
    margin-top: 40px;
  }

  .item {
    margin-bottom: 16px;
  }
}

@media(min-width: 640px) {
  .section {
    margin-top: 160px;
  }

  .title {
    font-size: 24px;
    max-width: 100%;
  }

  .subtitle {
    max-width: 438px;

    font-size: 20px;
  }

  .line {
    margin-top: 16px;
  }

  .number {
    font-size: 16px;
  }

  .list {
    margin-top: 56px;
  }

  .item {
    margin-bottom: 16px;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-top: 240px;

    flex-direction: row;
  }

  .title {
    font-size: 32px;
    width: 305px;
    margin-right: 85px;
  }

  .subtitle {
    max-width: 630px;

    font-size: 24px;
  }

  .line {
    margin-top: 20px;
  }

  .number {
    font-size: 20px;
  }

  .list {
    margin-top: 0;
  }

  .item {
    margin-bottom: 20px;
  }
}

@media(min-width: 1700px) {
  .title {
    font-size: 40px;
    width: 305px;
  }

  .subtitle {
    max-width: 715px;

    font-size: 32px;
  }

  .line {
    margin-top: 24px;
  }

  .number {
    font-size: 24px;
  }

  .list {
    margin-top: 0;
  }

  .item {
    margin-bottom: 24px;
  }
}
