.container {
}

@media (min-width: 640px) {
  .container {
    width: 47% !important;
    & > img {
      height: 115px !important;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    & > img {
      height: 110px !important;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    & > img {
      height: 110px !important;
    }
  }
}
