.section {
  margin-top: 320px;
  width: 100%;
  height: 1174px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;

  & > h2 {
    //width: 1345px;
    margin-bottom: 200px;

    font-weight: 400;
    font-size: 80px;
    line-height: 56px;
  }
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: auto;
}

.text {
  width: 455px;
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;

  position: absolute;
  left: 45px;
  bottom: 50px;
}

.blur {
  position: absolute;
  left: 435px;
  top: -574px;

  width: 1620px;
  height: 936px;
}

@media (max-width: 1700px) {
  .section {
    margin-top: 200px;
    height: 1004px;

    & > h2 {
      width: 825px;

      font-size: 60px;
      line-height: 100%;
    }
  }

  .blur {
    left: 327px;
    top: -320px;
    width: 1494px;
    height: 831px;
  }

  .imageContainer {
    height: 700px;

    margin-top: 200px;
    padding-bottom: 40px;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .text {
    width: 305px;

    font-size: 16px;
    line-height: 22px;
  }

  .containerLightPurple {
    right: -196px;
    bottom: -74px;

    width: 2018px;
    height: 788px;
  }

  .containerLightBlue {
    right: 74px;
    bottom: -594px;

    width: 1578px;
    height: 608px;
  }

  .lightPurple {
    left: 1100px;
    bottom: 340px;

    width: 1202px;
    height: 1138px;
  }
}

@media (max-width: 1200px) {
  .section {
    height: 600px;
    margin-top: 120px;

    & > h2 {
      width: 545px;

      font-size: 40px;
      line-height: 46px;
    }
  }

  .imageContainer {
    height: 420px;

    margin-top: 120px;
    padding-right: 42px;
    padding-bottom: 20px;
  }

  .image {
    //width: 778px;
    //height: 448px;
  }

  .text {
    width: 387px;

    font-size: 16px;
    line-height: 120%;

    bottom: 24px;
    left: 24px;
  }

  .containerLightPurple {
    right: -136px;
    bottom: -224px;

    width: 1407px;
    height: 483px;
  }

  .containerLightBlue {
    right: -144px;
    bottom: -314px;

    width: 1140px;
    height: 266px;
  }

  .lightPurple {
    left: 584px;
    bottom: 446px;

    width: 355px;
    height: 336px;
  }

  .blur {
    left: 145px;
    top: -272px;
    width: 1107px;
    height: 642px;
  }
}

@media (max-width: 720px) {
  .section {
    margin-top: 80px;
    height: 518px;

    & > h2 {
      width: 100%;

      font-size: 40px;
    }
  }

  .imageContainer {
    height: 540px;

    margin-top: 80px;
    padding-right: 24px;
    padding-bottom: 24px;
  }

  .image {
    //width: 693px;
    //height: 399px;
    //
    //right: -103px;
    //top: 86px;
    bottom: 100px;
  }

  .text {
    width: 325px;

    font-size: 16px;
    line-height: 120%;

    bottom: 0;
    right: 0;
    left: auto;
  }
}

@media(max-width: 400px) {
  .section {
    margin-top: 80px;
    height: 410px;

    & > h2 {
      font-size: 28px;
      margin: 0;
      line-height: 34px;
    }
  }

  .image {
    bottom: 115px;
  }

  .text {
    width: 243px;
  }
}
