.section {
  width: 100%;
  margin-bottom: 314px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
  color: #FFFFFF;
  //font-family: 'Furore', sans-serif;
}

.aboutContainer {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  margin: 0;
  max-width: 565px;

  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.subtitle {
  margin: 36px 0;

  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
}

.textContainer {
  width: 1020px;
  margin-left: 194px;
}

.text {
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
}

.list {
  width: 955px;
  margin: 80px 0 0 194px;
  padding: 0;

  list-style-type: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.item {
  margin: 0 0 32px;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.itemArr {
  margin-right: 20px;
  margin-top: 10px;
}

.itemText {
  composes: text;
  width: 890px;
}

@media (max-width: 1700px) {
  .section {
    margin-bottom: 200px;
  }

  .aboutContainer {
  }

  .title {
    max-width: 455px;

    font-size: 32px;
    line-height: 37px;
  }

  .subtitle {
    margin: 24px 0;

    font-size: 80px;
    line-height: 92px;
  }

  .textContainer {
    width: 585px;
    margin-left: 130px;
  }

  .text {
    font-size: 20px;
    line-height: 27px;
  }

  .list {
    width: 500px;
    margin: 48px 0 0 130px;
  }

  .item {
    margin-bottom: 12px;
  }

  .itemArr {
    margin-right: 20px;
    margin-top: 6px;

    width: 45px;
    height: 20px;
  }

  .itemText {
    composes: text;
    width: 435px;
  }
}

@media (max-width: 1200px) {
  .section {
    margin-bottom: 120px;
  }

  .aboutContainer {
  }

  .title {
    max-width: 277px;

    font-size: 20px;
    line-height: 23px;
  }

  .subtitle {
    margin: 16px 0;

    font-size: 40px;
    line-height: 46px;
  }

  .textContainer {
    width: 395px;
    margin-left: 117px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  .list {
    width: 295px;
    margin: 24px 0 0 117px;
  }

  .item {
    margin-bottom: 8px;
  }

  .itemArr {
    margin-right: 16px;
    margin-top: 0;

    width: 43px;
  }

  .itemText {
    width: 336px;
  }
}

@media (max-width: 720px) {
  .section {
    margin-bottom: 100px;
    margin-top: 40px;
  }

  .aboutContainer {
  }

  .title {
    max-width: 225px;

    font-size: 16px;
    line-height: 18px;
  }

  .subtitle {
    margin-top: 20px;
    margin-bottom: 8px;

    font-size: 32px;
    line-height: 37px;
  }

  .textContainer {
    width: 280px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .list {
    width: 243px;
    margin: 24px 0 0 46px;
  }

  .item {
    margin-bottom: 4px;
  }

  .itemArr {
    margin-right: 13px;
    margin-top: 0;

    width: 23px;
    height: 11px;
  }

  .itemText {
    width: 207px;

    & > p {
      font-size: 8px;
      line-height: 11px;
    }
  }
}
