.section {
  width: 100%;
  margin-top: 247px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
}

.container {
  margin-bottom: 89px;
  width: 100%;
}

.text {
  margin-left: 37px;
  margin-top: 12px;

  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 300;
}

.blur {
  width: 660px;
  height: 442px;

  position: absolute;
  top: -251px;
  left: -281px;
}

.image {
  width: 280px;
  height: auto;

  position: absolute;
  left: 0;
  top: -152px;
}

@media(min-width: 400px) {
  .section {
    margin-top: 293px;
  }

  .container {
    margin-bottom: 135px;
  }

  .text {
    margin-left: 48px;
    margin-top: 8px;

    font-size: 16px;

    position: relative;
    z-index: 1;
  }

  .blur {
    width: 785px;
    height: 524px;

    top: -247px;
    left: -318px;
  }

  .image {
    width: 374px;
    height: auto;

    left: 0;
    top: -201px;
  }
}

@media(min-width: 720px) {
  .section {
    margin-top: 409px;

    & > h2 {
      font-size: 40px;
      line-height: 100%;
    }
  }

  .container {
    margin-bottom: 154px;
  }

  .text {
    margin-left: 59px;
    margin-top: 8px;

    font-size: 16px;
    width: 394px;
  }

  .blur {
    width: 919px;
    height: 614px;

    top: -290px;
    left: -318px;
  }

  .image {
    width: 688px;
    height: auto;

    left: 0;
    top: -320px;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-top: 685px;

    & > h2 {
      font-size: 80px;
      line-height: 100%;
    }
  }

  .container {
    margin-bottom: 308px;

    & > h2 {
      font-size: 80px;
      line-height: 100%;
    }
  }

  .text {
    margin-left: 130px;
    margin-top: 12px;

    font-size: 16px;
    width: 585px;
  }

  .blur {
    width: 1436px;
    height: 1078px;

    top: -528px;
    left: -333px;
  }

  .image {
    width: 986px;
    height: auto;

    left: 287px;
    top: -434px;
  }
}

@media(min-width: 1700px) {
  .section {
    margin-top: 694px;

    & > h2 {
      font-size: 80px;
      line-height: 100%;
    }
  }

  .container {
    margin-bottom: 308px;

    & > h2 {
      font-size: 80px;
      line-height: 100%;
    }
  }

  .text {
    margin-left: 130px;
    margin-top: 12px;

    font-size: 16px;
    width: 585px;
  }

  .blur {
    width: 1587px;
    height: 1122px;

    top: -532px;
    left: -267px;

  }

  .image {
    width: 1085px;
    height: auto;

    left: 417px;
    top: -438px;
  }
}
