.section {
  width: 100%;
  margin-bottom: 80px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
}

.text {
  font-family: 'Manrope', sans-serif;
  margin-top: 12px;
  margin-left: 37px;

  font-size: 16px;
  font-weight: 300;
  line-height: 120%;

  position: relative;
  z-index: 2;

  &:first-of-type {
    margin-bottom: 267px;
  }
}

.image {
  width: 453px;
  height: 344px;

  position: absolute;
  top: 188px;
  right: 0;
}

.blur {
  width: 815px;
  height: 594px;

  position: absolute;
  top: 107px;
  right: -134px;
}

@media(min-width: 400px) {
  .section {
    margin-bottom: 85px;
  }

  .text {
    margin-top: 12px;
    margin-left: 49px;

    font-size: 16px;

    &:first-of-type {
      margin-bottom: 354px;
    }
  }

  .image {
    width: 568px;
    height: 433px;

    top: 157px;
    right: 0;
  }

  .blur {
    width: 1133px;
    height: 825px;

    top: -17px;
    right: -134px;
  }
}

@media(min-width: 720px) {
  .section {
    margin-bottom: 92px;
  }

  .text {
    margin-top: 16px;
    margin-left: 53px;

    font-size: 16px;

    &:first-of-type {
      margin-bottom: 321px;
    }
    &:last-of-type {
      margin-left: 300px;
    }
  }

  .image {
    width: 568px;
    height: 433px;

    top: 91px;
    right: 0;
  }

  .blur {
    width: 1133px;
    height: 825px;

    top: -31px;
    right: -32px;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-bottom: 267px;
  }

  .text {
    margin-top: 24px;
    margin-left: 65px;

    font-size: 16px;

    &:first-of-type {
      margin-bottom: 503px;
      width: 565px;
    }
    &:last-of-type {
      margin-left: 715px;
      margin-top: 0;
    }
  }

  .image {
    width: 1020px;
    height: 777px;

    top: 0;
    right: 0;
  }

  .blur {
    width: 1977px;
    height: 1442px;

    top: 34px;
    right: -72px;
  }
}

@media(min-width: 1700px) {
  .section {
    margin-bottom: 329px;
  }

  .text {
    margin-top: 32px;
    margin-left: 130px;

    &:first-of-type {
      margin-bottom: 565px;
      width: 565px;
    }
    &:last-of-type {
      margin-left: 845px;
      margin-top: 0;
      width: 390px;
    }
  }

  .image {
    width: 1085px;
    height: 827px;

    top: 0;
    right: 45px;
  }

  .blur {
    width: 2080px;
    height: 1517px;

    top: -135px;
    right: 227px;
  }
}
