.section {
  width: 100%;

  margin-top: 80px;
  margin-bottom: 80px;

  position: relative;
  //overflow: hidden;
}

.container {
  padding-top: 20px;
  height: 386px;

  position: relative;
}

.button {
  width: 68px;
  height: 20px;
  //padding: 3px 10px;
  //padding-right: 24px;
  background: var(--color-white);
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  border-radius: 10px;
  position: relative;
  z-index: 2;

  & > p:last-of-type {
    opacity: 1;
    transition: opacity .4s linear;
  }

  & > p:first-child {
    opacity: 0;
    transition: opacity .4s linear;
  }
}

.buttonActive {
  composes: button;

  position: relative;

  & > p:last-of-type {
    opacity: 0;
    transition: opacity .2s linear;
  }

  & > p:first-child {
    opacity: 1;
    transition: opacity .2s linear;
  }
}

.buttonInner {
  width: 17px;
  height: 17px;
  background-color: var(--color-black);
  border-radius: 40px;

  position: absolute;
  top: 2px;
  left: 3px;
  transition: all .2s linear;
}

.buttonInnerActive {
  composes: buttonInner;

  left: 48px;
  transition: all .2s linear;
}

.buttonText {
  font-family: 'Manrope', sans-serif;
  font-size: 10px;
  font-weight: 300;

  //position: absolute;
}

.left {
  position: absolute;
  left: 15%;
  bottom: 16%;
}

.right {
  position: absolute;
  right: 15%;
  bottom: 16%;
}

.black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 776px;
  height: 100%;
  //bottom: 0;

  background: url("./Switch/black.png") no-repeat center;
  background-size: cover;
}

.white {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 776px;
  height: 100%;
  //bottom: 0;

  background: url("./Switch/white.png") no-repeat center;
  background-size: cover;
}

@media(min-width: 720px) {
  .section {
    margin-top: 0;
    margin-bottom: 120px;
  }

  .container {
    padding-top: 20px;
    height: 399px;
  }

  .button {
    width: 89px;
    height: 25px;
    border-radius: 14px;
  }

  .buttonInner {
    width: 22px;
    height: 22px;

    top: 2px;
    left: 3px;
  }

  .buttonInnerActive {
    composes: buttonInner;

    left: 64px;
  }

  .buttonText {
    font-size: 12px;
  }

  .left {
    bottom: 17%;
  }

  .right {
    bottom: 17%;
  }

  .black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 776px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/black.png") no-repeat center;
    background-size: cover;
  }

  .white {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 776px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/white.png") no-repeat center;
    background-size: cover;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-top: 0;
    margin-bottom: 200px;
  }

  .container {
    padding-top: 20px;
    height: 666px;
  }

  .button {
    width: 129px;
    height: 37px;
    border-radius: 20px;
  }

  .buttonInner {
    width: 32px;
    height: 32px;

    top: 2px;
    left: 3px;
  }

  .buttonInnerActive {
    composes: buttonInner;

    left: 94px;
  }

  .buttonText {
    font-size: 16px;
  }

  .left {
    bottom: 18%;
  }

  .right {
    bottom: 18%;
  }

  .black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1278px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/black.png") no-repeat center;
    background-size: cover;
  }

  .white {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1278px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/white.png") no-repeat center;
    background-size: cover;
  }
}

@media(min-width: 1700px) {
  .section {
    margin-top: 0;
    margin-bottom: 240px;
  }

  .container {
    padding-top: 40px;
    padding-left: 80px;
    height: 749px;
  }

  .button {
    width: 129px;
    height: 37px;
    border-radius: 20px;
  }

  .buttonInner {
    width: 32px;
    height: 32px;

    top: 2px;
    left: 3px;
  }

  .buttonInnerActive {
    composes: buttonInner;

    left: 94px;
  }

  .buttonText {
    font-size: 16px;
  }

  .left {
    bottom: 18%;
  }

  .right {
    bottom: 18%;
  }

  .black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1675px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/black.png") no-repeat center;
    background-size: cover;
  }

  .white {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1675px;
    height: 100%;
    //bottom: 0;

    background: url("./Switch/white.png") no-repeat center;
    background-size: cover;
  }
}
