.section {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  //overflow: hidden;

  //font-family: 'Furore', sans-serif;
  color: #FFFFFF;
}

.container {
  width: 1670px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 80px;

  position: relative;
  z-index: 1;
}

.textContainer {
  margin: 0 0 80px;
  padding: 0;
  width: 100%;

  list-style-type: none;
  position: relative;
  z-index: 1;

  display: grid;
  grid-template-columns: 326px 240px 320px 326px;
  justify-items: start;
  align-items: start;
  justify-content: space-between;
}

.item {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.text {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.light {
  position: absolute;
  right: 122px;
  top: -514px;
}

.noise {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 100vw;
}

@media (max-width: 1700px) {
  .section {
  }

  .container {
    width: 1150px;
  }

  .image {
    width: 1190px;
    margin-bottom: 32px;
    margin-top: 60px;
  }

  .textContainer {
    margin-bottom: 48px;

    grid-template-columns: 240px 154px 200px 177px;
  }

  .item {
  }

  .text {
    font-size: 16px;
    line-height: 18px;
  }

  .light {
    width: 1948px;
    right: 32px;
    top: -386px;
  }
}

@media (max-width: 1200px) {
  .section {
  }

  .container {
    width: 688px;
  }

  .image {
    width: 602px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .textContainer {
    margin-bottom: 21px;

    grid-template-columns: 166px 116px 154px 128px;
  }

  .item {
  }

  .text {
    font-size: 12px;
    line-height: 14px;
  }

  .light {
    width: 1073px;
    right: 0;
    top: -217px;
  }
}

@media (max-width: 720px) {
  .section {
  }

  .container {
    width: 280px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .image {
    width: 464px;
    margin: 0 0 0 -102px;

    flex-shrink: 0;

    transform: rotate(-90deg);
  }

  .textContainer {
    width: 134px;

    margin-bottom: 142px;
    margin-top: 134px;
    height: 260px;

    grid-template-columns: 134px;
    grid-template-rows: 42px 28px 42px 28px;
    justify-content: space-between;
    align-content: space-between;
  }

  .item {
  }

  .text {
    font-size: 12px;
    line-height: 14px;
  }

  .light {
    width: 1073px;
    right: -260px;
    top: -217px;
  }
}
