.section {
  width: 100%;
  margin-top: 80px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.text {
  margin-bottom: 20px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 134.6%;
}

.tags {
  width: 248px;
  margin-bottom: 32px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  padding: 12px 20px;
  margin-bottom: 8px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border-radius: 85px;
  background-color: var(--color-blue);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tagTitle {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 134.6%;
}

.tagText {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}

.imageContainer {
  width: 280px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 985px;
  height: 554px;

  position: absolute;
  top: 0;
  left: -322px;
}

@media(min-width: 400px) {
  .section {
  }

  .text {
  }

  .tags {
    width: 298px;
  }

  .tag {
    padding: 16px 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .tagTitle {
    font-size: 12px;
    line-height: 134.6%;
  }

  .tagText {
    font-size: 12px;
    line-height: 16px;
  }

  .imageContainer {
    width: 374px;
    height: 600px;
  }

  .image {
    width: 1012px;
    height: 600px;

    left: -322px;
  }
}

@media(min-width: 640px) {
  .section {
    margin-top: 100px;
  }

  .text {
    width: 384px;
    margin-left: 37px;
  }

  .tags {
    width: 542px;
    margin-left: 37px;
  }

  .tag {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .tagTitle {
  }

  .tagText {
  }

  .imageContainer {
    width: 616px;
    height: 448px;
    border-radius: 12px;
  }

  .image {
    width: 900px;
    height: 587px;

    top: -37px;
    left: -171px;
  }
}

@media(min-width: 1200px) {
  .section {
    margin-top: 240px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .text {
    width: 370px;
    margin-left: 0;
    font-size: 20px;
    line-height: 134.6%;
    margin-bottom: 0;
  }

  .tags {
    margin-bottom: 80px;
    width: 633px;
    margin-left: 17px;
  }

  .tag {
    margin-bottom: 0;
    padding: 20px 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .tagTitle {
    margin-bottom: 4px;
  }

  .tagText {
  }

  .imageContainer {
    width: 1150px;
    height: 628px;
  }

  .image {
    width: 1330.75px;
    height: 869px;

    top: -40px;
    left: -167px;
  }
}

@media(min-width: 1400px) {
  .section {
    margin-top: 200px;
  }

  .text {
    width: 435px;
    font-size: 24px;
    line-height: 134.6%;
  }

  .tags {
    margin-bottom: 123px;
    width: 633px;
    margin-left: 82px;
  }

  .tag {
    padding: 20px 40px;
  }

  .tagTitle {
    font-size: 12px;
    line-height: 134.6%;
  }

  .tagText {
    font-size: 12px;
    line-height: 120%;
  }

  .imageContainer {
    width: 100%;
    height: 876px;
  }

  .image {
    width: 1357px;
    height: auto;

    top: -66px;
    left: -57px;
  }
}
