.container {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.containerWhite {
  composes: container;
  color: #FFFFFF;
}

.titleBox {
  width: 100%;
  padding: 32px 25px;
  margin-bottom: 50px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border-radius: 8px;
  position: relative;
}

.title {
  margin-bottom: 16px;

  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

.text {
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
}

.box {
  width: 100%;
  padding: 24px 29px;
  margin-bottom: 16px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  border-radius: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.line {
  margin-top: 40px;
  margin-bottom: 12px;

  width: 30px;
  height: 1px;
  background: var(--color-white);
}

.lineBlack {
  composes: line;
  background: var(--color-black);
}

.link {
  margin-top: 12px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  cursor: pointer;

  & > p {
    margin-left: 12px;
  }
}

.arrow {
  width: 27px;
  height: 4px;
}

.image {
  display: none;
}

@media (min-width: 400px) {
  .container {
  }

  .titleBox {
    padding: 32px 29px;
    margin-bottom: 40px;
  }

  .title {
  }

  .text {
  }

  .box {

    &:last-of-type {
    }
  }

  .subtitle {
  }

  .line {
  }

  .link {

    & > p {
    }
  }

  .arrow {
  }
}

@media (min-width: 640px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .titleBox {
    width: 100%;
    padding: 40px 37px 32px 300px;
    margin-bottom: 16px;
    border-radius: 12px;
  }

  .title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  .text {
  }

  .box {
    max-width: 195px;
    min-height: 185px;
    border-radius: 12px;
    padding: 24px 38px 24px 24px;

    &:last-of-type {
    }
  }

  .subtitle {
  }

  .line {
  }

  .link {
    margin-top: 24px;

    & > p {
    }
  }

  .arrow {
  }

  .image {
    width: 210px;
    height: 223px;

    position: absolute;
    left: 37px;
    bottom: 0;

    display: block;
  }
}

//@media (min-width: 720px) {
//  .box {
//    max-width: 220px;
//    min-height: 177px;
//  }
//}

@media (min-width: 1200px) {
  .container {
  }

  .titleBox {
    padding: 80px 85px 40px 500px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }

  .box {
    max-width: 370px;
    min-height: 308px;
    border-radius: 16px;
    padding: 40px 68px 40px 46px;

    &:last-of-type {
    }
  }

  .subtitle {
    font-size: 24px;
    line-height: 33px;
  }

  .line {
    width: 50px;
    margin-top: 80px;
    margin-bottom: 16px;
  }

  .link {
    margin-top: 32px;

    & > p {
      margin-left: 20px;
    }
  }

  .arrow {
    width: 45px;
    height: 7px;
  }

  .image {
    width: 370px;
    height: 422px;

    left: 65px;
  }
}

//@media (min-width: 1700px) {
//  .container {
//  }
//
//  .titleBox {
//    padding: 120px 195px 60px 780px;
//    margin-bottom: 40px;
//  }
//
//  .title {
//    font-size: 40px;
//    line-height: 120%;
//    margin-bottom: 40px;
//  }
//
//  .text {
//    font-size: 20px;
//    line-height: 27px;
//  }
//
//  .box {
//    max-width: 540px;
//    min-height: 427px;
//    border-radius: 20px;
//    padding: 60px 121px 60px 85px;
//
//    &:last-of-type {
//    }
//  }
//
//  .subtitle {
//    font-size: 32px;
//    line-height: 44px;
//  }
//
//  .line {
//    width: 65px;
//    margin-top: 100px;
//    margin-bottom: 20px;
//  }
//
//  .link {
//    margin-top: 40px;
//
//    & > p {
//      margin-left: 20px;
//    }
//  }
//
//  .image {
//    width: 500px;
//    height: 615px;
//
//    left: 130px;
//  }
//}
