.section {
  width: 100%;
  margin-top: 60px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  position: relative;
}

@media (min-width: 1200px) {
  .section {
    margin-top: 100px;
  }
}

@media (min-width: 1400px) {
  .section {
    margin-top: 120px;
  }
}
