.section {
  width: 100%;
  margin-top: 320px;
  margin-bottom: 320px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  position: relative;
}

.container {
  margin-top: 100px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  margin: 0;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
}

.textContainer {
  margin-left: 185px;
  margin-top: 80px;
  height: 371px;
  width: 695px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.text {
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.textColor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  margin: 0;
  margin-right: 8px;

  //font-family: 'Furore', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;

  cursor: pointer;
}

.textColorSpan {
  composes: textColor;
  color: #5E5E5E;
  margin-right: 8px;
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  color: #FFFFFF;
  text-decoration: none;

  &:first-of-type {
    margin-right: 65px;
  }
}

.arr {
  margin-right: 20px;
}

.imageContainer {
  width: 630px;
  height: 906px;

  position:relative;
  overflow: hidden;

  border: 1px solid #FFFFFF;
  background: #1B1B1B url('./images/noise.svg');
  background-size: cover;
}

.image {
  position: absolute;
  top: 40px;
  left: 195px;

  z-index: 1;
}

.image2 {
  position: absolute;
  top: 84px;
  left: 208px;

  z-index: 1;
}

.purpleLight {
  position: absolute;
  top: 476px;
  left: -62px;

  width: 1251px;
  height: 578px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(146, 96, 251, 0.4) 0%, rgba(146, 96, 251, 0) 100%);
  filter: blur(30px);
  transform: matrix(0.85, -0.51, 0.53, 0.86, 0, 0);
  transform-origin: left bottom;
}

.blueLight {
  position: absolute;
  top: 756px;
  left: 2px;

  width: 2028px;
  height: 845px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(120, 182, 255, 0.6) 0%, rgba(120, 182, 255, 0) 100%);
  filter: blur(30px);
  transform: matrix(0.9, -0.42, 0.44, 0.91, 0, 0);
  transform-origin: left bottom;
}

@media (max-width: 1700px) {
  .section {
    margin-top: 320px;
    margin-bottom: 240px;
  }

  .container {
    margin-top: 70px;
  }

  .title {
    font-size: 60px;
    line-height: 69px;
  }

  .textContainer {
    margin-left: 130px;
    margin-top: 60px;

    height: 374px;
    width: 500px;
  }

  .text {
    font-size: 20px;
    line-height: 27px;
  }

  .textColor {
    font-size: 32px;
    line-height: 37px;
  }

  .links {
  }

  .link {
    &:first-of-type {
      margin-right: 65px;
    }
  }

  .arr {
    margin-right: 20px;
  }

  .imageContainer {
    width: 370px;
    height: 700px;
  }

  .image {
    width: 240px;
    top: 40px;
    left: 65px;

    z-index: 2;
  }

  .image2 {
    width: 160px;
    top: 84px;
    left: 106px;

    z-index: 2;
  }

  .purpleLight {
    position: absolute;
    top: 338px;
    left: -62px;

    width: 1251px;
    height: 578px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(146, 96, 251, 0.4) 0%, rgba(146, 96, 251, 0) 100%);
    filter: blur(30px);
    transform: matrix(0.85, -0.51, 0.53, 0.86, 0, 0);
    transform-origin: left bottom;
  }

  .blueLight {
    top: 434px;
    left: 2px;

    width: 2028px;
    height: 845px;

    z-index: 1;
  }
}

@media (max-width: 1200px) {
  .section {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .container {
    margin-top: 60px;
  }

  .title {
    font-size: 38px;
    line-height: 42px;
  }

  .textContainer {
    margin-left: 117px;
    margin-top: 40px;

    height: 176px;
    width: 336px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }

  .textColor {
    font-size: 16px;
    line-height: 18px;
  }

  .links {
  }

  .link {
    &:first-of-type {
      margin-right: 10px;
    }
  }

  .arr {
    margin-right: 12px;
    width: 31px;
    height: 16px;
  }

  .imageContainer {
    width: 219px;
    height: 414px;
  }

  .image {
    width: 133px;
    top: 24px;
    left: 43px;
  }

  .image2 {
    width: 96px;
    top: 38px;
    left: 62px;
  }

  .purpleLight {
    position: absolute;
    top: 338px;
    left: -62px;

    width: 1251px;
    height: 578px;
  }

  .blueLight {
    top: 434px;
    left: 2px;

    width: 2028px;
    height: 845px;

    z-index: 1;
  }
}

@media (max-width: 720px) {
  .section {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 280px;

    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin-top: 0;
    width: 280px;
    flex-shrink: 0;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .textContainer {
    margin-left: 0;
    margin-top: 24px;

    height: 194px;
    width: 280px;
  }

  .arr {
    & > path {
      stroke-width: 1px;
    }
  }

  .imageContainer {
    margin-top: 40px;
    width: 280px;
    height: 400px;

    flex-shrink: 0;
  }

  .image {
    width: 133px;
    top: 16px;
    left: 73px;
  }

  .image2 {
    width: 96px;
    top: 32px;
    left: 92px;
  }
}
