.section {
  width: 100%;
  margin-bottom: 320px;
  margin-top: 320px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: relative;
}

.blur {
  position: absolute;
  right: -874px;
  top: -1080px;

  width: 1775px;
  height: 1310px;

  background: radial-gradient(50% 50% at 50% 50%, rgba(120, 182, 255, 0.4) 0%, rgba(120, 182, 255, 0) 100%);
  filter: blur(30px);
  transform: matrix(-0.94, -0.33, -0.34, 0.94, 0, 0);
}

.lineAbsoluteTop {
  position: absolute;
  right: 2px;
  top: -80px;

  width: 20px;
  height: 163px;

  background: #FFFFFF;
}

.lineAbsoluteBot {
  position: absolute;
  top: 83px;
  right: -18px;

  width: 20px;
  height: 23px;

  background: #FFFFFF;
}

.about {
  width: 952px;
  margin-left: 194px;
  margin-bottom: 240px;
}

.aboutText {
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.textContainer {
  width: 100%;
  margin-bottom: 225px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  //width: 577px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.numbers {
  width: 110px;

  align-self: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}

.list {
  width: 340px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  list-style-type: none;
}

.listItem {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;

  list-style-type: none;

  &:first-of-type {
    margin-bottom: 16px;
  }
}

.listSpan {
  margin-right: 20px;
  width: 13px;
  height: 13px;

  flex-shrink: 0;

  background: #d9d9d9;
}

.listText {
  margin: 0;

  color: #d9d9d9;
  font-size: 20px;
  line-height: 23px;
}

//LINES
.linesList {
  width: 100%;
  margin: 0 0 56px;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  list-style-type: none;
}

.linesItem {
  width: 100%;
  margin: 0 0 120px;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  color: #D8D8D8;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.linesText {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.linesTop {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}

.linesNum {
  margin: 0 0 -8px 20px;

  font-weight: 400;
  font-size: 40px;
  line-height: 120%;

  color: #FFFFFF;
}

.linesLine {
  height: 4px;
  background: linear-gradient(rgba(120, 182, 255, 1), rgba(90, 12, 255, 1));
}

.textSpan {
  margin: 0;

  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;

  color: #5E5E5E;
}

@media (max-width: 1700px) {
  .section {
    margin-bottom: 200px;
    margin-top: 200px;
  }

  .blur {
    right: -740px;
    top: -518px;

    width: 1165px;
    height: 860px;
  }

  .lineAbsoluteTop {
    right: 52px;
    top: 0;

    width: 12px;
    height: 98px;
  }

  .lineAbsoluteBot {
    top: 98px;
    right: 41px;

    width: 12px;
    height: 12px;
  }

  .about {
    width: 630px;
    margin-left: 130px;
    margin-bottom: 95px;
  }

  .aboutText {
    font-size: 16px;
    line-height: 22px;
  }

  .textContainer {
    margin-bottom: 100px;
  }

  .title {
    //width: 430px;

    & > h2 {
      font-size: 80px;
      line-height: 92px;
    }
  }

  .numbers {
    width: 85px;
  }

  .number {
    width: 33px;

    &:last-of-type {
      width: 26px;
    }
  }

  .list {
    width: 273px;
  }

  .listItem {
    &:first-of-type {
      margin-bottom: 12px;
    }
  }

  .listSpan {
  }

  .listText {
    font-size: 16px;
    line-height: 18px;
  }

  //LINES
  .linesList {
    margin-bottom: 40px;
  }

  .linesItem {
    margin-bottom: 100px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .linesText {
  }

  .linesTop {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .linesNum {
    font-size: 24px;
    line-height: 120%;
  }

  .linesLine {
    height: 4px;
    background: linear-gradient(rgba(120, 182, 255, 1), rgba(90, 12, 255, 1));
  }

  .textSpan {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 1200px) {
  .section {
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .blur {
    right: -376px;
    top: -204px;

    width: 627px;
    height: 462px;
  }

  .lineAbsoluteTop {
    right: 51px;
    top: -60px;

    width: 8px;
    height: 65px;
  }

  .lineAbsoluteBot {
    top: 5px;
    right: 43px;

    width: 8px;
    height: 8px;
  }

  .about {
    width: 395px;
    margin-left: 114px;
    margin-bottom: 40px;
  }

  .aboutText {
    font-size: 12px;
    line-height: 16px;
  }

  .textContainer {
    margin-bottom: 60px;
    align-items: flex-start;
  }

  .title {
    //width: 245px;

    & > h2 {
      font-size: 40px;
      line-height: 46px;
    }
  }

  .numbers {
    width: 63px;
  }

  .number {
    width: 26px;

    &:last-of-type {
      width: 21px;
    }
  }

  .list {
    width: 192px;
  }

  .listItem {
    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  .listSpan {
    width: 8px;
    height: 8px;
  }

  .listText {
    font-size: 12px;
    line-height: 14px;
  }

  //LINES
  .linesList {
    margin-bottom: 40px;
  }

  .linesItem {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .linesText {
    font-size: 16px;
    line-height: 18px;
  }

  .linesTop {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .linesNum {
    font-size: 16px;
    line-height: 120%;
  }

  .linesLine {
    height: 4px;
    background: linear-gradient(rgba(120, 182, 255, 1), rgba(90, 12, 255, 1));
  }

  .textSpan {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 720px) {
  .section {
    margin-bottom: 80px;
    margin-top: 80px;
  }

  .blur {
    right: -330px;
    top: -164px;

    width: 468px;
    height: 345px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(120, 182, 255, 0.4) 0%, rgba(120, 182, 255, 0) 100%);
    filter: blur(30px);
    transform: matrix(-0.94, -0.33, -0.34, 0.94, 0, 0);
  }

  .lineAbsoluteTop {
    right: 6px;
    top: -80px;

    width: 6px;
    height: 50px;
  }

  .lineAbsoluteBot {
    top: -30px;
    right: 0;

    width: 6px;
    height: 6px;
  }

  .about {
    width: 280px;
    margin-left: 0;
  }

  .textContainer {
    flex-wrap: wrap;
  }

  .title {
    width: 100%;
    margin-bottom: 24px;
  }

  .numbers {
    align-self: flex-end;
    width: 52px;
  }

  .number {
    width: 21px;

    &:last-of-type {
      width: 17px;
    }
  }

  .list {
    width: 124px;
  }

  .listItem {
    align-items: center;
    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  .listSpan {
    width: 4px;
    height: 4px;
    margin-right: 12px;
  }

  .listText {
    font-size: 8px;
    line-height: 9px;
  }

  //LINES
  .linesList {
    width: 253px;
    margin-bottom: 24px;
  }

  .linesItem {
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .linesText {
    font-size: 12px;
    line-height: 14px;
  }

  .linesTop {
    margin-top: 16px;
  }

  .linesNum {
    font-size: 12px;
    margin-bottom: -3px;
  }
}
